# garbage files in terms of logic/code
*__pycache__*
*.DS_Store
Session.vim*
*.mypy_cache
*.ruff_cache
day-24/Output/ReadyToSend/*.txt
day-25/us-states-game/states_to_learn.csv
!day-24/Output/ReadyToSend/example.txt
day-29/data.txt
day-31/data/words_to_learn.csv
day-46/token.txt
*/.env
.env
