.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

body {
  background: black;
  color: white;
}

.box-image {
  border: 5px solid white;
}

.div-container {
  text-align: center;
  width: 50%;
  margin-left: 25%;
  margin-top: 10%;
}

.div-container img {
   width: 100%;
}

.div-container h1 {
  text-transform: uppercase;
}
